.search-input {
    height: 60px;
    color: #2ebe60;
    border: none;
    padding: 10px;
    font-size: 24px;
    opacity: 0.4;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-right: 15px;
}
.search-button {
    background-color: #2ebe60;
    border: none;
    color: white;
    opacity: 0.2;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    border-radius: 3px;
}
.search-icon {
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -o-transform: rotate(45deg);
        transform: rotate(45deg);
    cursor: pointer;
}
.search-input:focus,.search-button:focus {
    outline: none;
}
.totals {
    display: none;
    font-size: 14px;
    color: #2C3E50;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-left: 30px;
}

.legend-container {
    display: none;
}

@media screen and (max-width: 767px) {
    .legend-container {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .circle-legend {
        width: 70px !important;
    }
}

.legend {
    display: inline-block;
}

.legend-text {
    font-size: 11px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #2C3E50;
    opacity: 0.5;
}

.legend-rect {
    width: 90px;
    height: 20px;
    background-color: blueviolet;
    background-image: linear-gradient(to right, #e60000,#9b0000,#001c9b,#134df5);
}

.legend-circle1 {
    border-radius: 50%;
    border: 1px dashed #cccccc;
    width: 25px;
    height: 25px;
}

.legend-circle2 {
    position: absolute;
    border-radius: 50%;
    left: 8px;
    top: 15px;
    border: 1px dashed #cccccc;
    width: 10px;
    height: 10px;
}

.legend-cicle-label {
    font-size: 9px;
    font-family: 'Roboto', sans-serif;
    color: #2C3E50;
    opacity: 0.5;
}

.legend-cicle-labels {
    margin-top: -3px;
}

.circle-legend {
    width: 80px;
}

.legend-cicle-label-min {
    margin-top: 3px;
}

.circle-legend-text {
    margin-bottom: 5px;
}

.tooltip-header {
    text-align: center;
    margin-bottom: 8px;
}
.axis path {
    display: none;
}
.axis text {
    fill: #2C3E50;
    font-family: 'Roboto', sans-serif;
}
.axis line {
    fill: #2C3E50;
}
circle:focus {
    outline: none;
}
.awesomplete mark {
    padding: .4rem 0px !important;
}